.register .container .row{
    margin: 1rem 0;
}

.register .container .row form{
    background-color: var(--whiteColor);
    box-shadow: 0 0.2rem 0.4rem rgba(0 0 0 / 0.11),
                0 0.1rem 0.1rem rgba(0 0 0 / 0.04);
    padding: 1.2rem;
    border-radius: 0.7rem;
    max-width: 55rem;
    width: 100%;
    margin: auto;
}

.register .container .row form h2{
    font-size: 2.7rem;
    color: var(--lightBlackColor);
    margin-bottom: 1.5rem;
}

.register .container .row form .form-group{
    margin-bottom: 1rem;
}

.register .container .row form input:not([type="checkbox"]){
    background-color: #f6f6f6;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: var(--lightBlackColor);
    border: 0.1rem;
    border-radius: 0.3rem;
    border-color: #cbcbcb #dfdfdf #dfdfdf #cbcbcb;
    display: block;
    width: 100%;
    line-height: 1.4;
}

.register .container .row form span{
    font-size: 1.3rem;
}

.register .container .row form .check{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.register .container .row form .check label{
    padding-left: 1rem;
}

.register .container .row form .btn{
    display: block;
    width: 100%;
    margin-top: 2rem;
}

#google-signup-button{
    background-color:#a52e2d; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1.5rem;
}